h1 {
  margin-bottom: 1rem;
}

.list-item-container {
  background-color: rgb(234, 238, 240);
  margin-bottom: 2rem;
  padding: 1rem;
  width: 15rem;
  margin-left: -10rem;
  border-radius: 0.25rem;
}

.btns-container {
  display: flex;
  justify-content: flex-end;
}

.btns {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  width: 3rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}

.btn-edit {
  background-color: green;
  color: white;
  border: none;
  width: 3rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}
